/*
 * Заголовки
 */

.headline {
  color: rgba(10,30,50,.9);

  &:not(:first-child) {
    margin-top: 20px;
  }

  &_type-1 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;

    @media screen and (max-width: 700px) {
      font-size: 16px;
    }
  }

  &_type-2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: #EF3124;

    @media screen and (max-width: 700px) {
      font-size: 16px;
    }
  }

  &_type-3 {
    font-size: 20px;
    font-weight: 600;
  }
}