.publication-breadcrumb {
  margin-bottom: 15px;
  display: flex;
  align-items: center;

  li {
    width: 250px;
    height: 50px;
    text-align: center;
    position: relative;

    span {
      font-weight: 500;
      font-size: 14px;
      opacity: .85;
      cursor: pointer;

      &:hover {
        opacity: .5;
      }

      &:after {
        text-align: center;
        display: block;
        width: 24px;
        height: 24px;
        line-height: 20px;
        margin: 3px auto 0 auto;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        background: rgba(240, 50, 38, 0.85);
        border: 2px solid rgba(240, 50, 38, 0.85);
        border-radius: 50%;
        z-index: 4;
      }
    }

    &.step1 {
      overflow: hidden;
    }

    &.step2, &.step3, &.step4, &.step5 {
      margin-left: -85px;
    }

    &.current {
      position: relative;

      span {
        font-weight: 700;
        font-size: 14px;
        opacity: 1;

        &:hover {
          opacity: .5;
        }

        &:after {
          text-align: center;
          display: block;
          width: 24px;
          height: 24px;
          line-height: 20px;
          margin: 3px auto 0 auto;
          font-size: 14px;
          font-weight: 500;
          color: #fff;
          background: transparent;
          border: 2px solid rgba(240, 50, 38, 0.85);
          border-radius: 50%;
          z-index: 4;
        }
      }
    }

    &.step1 {
      span {
        &:after {
          content: "1";
        }
      }
    }

    &.step2 {
      span {
        &:after {
          content: "2";
        }
      }
    }

    &.step3 {
      span {
        &:after {
          content: "3";
        }
      }
    }

    &.step4 {
      span {
        &:after {
          content: "4";
        }
      }
    }

    &.step5 {
      span {
        &:after {
          content: "5";
        }
      }
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 32px;
      left: -30px;
      width: 145px;
      height: 2px;
      background: rgba(240, 50, 38, 0.85);
      z-index: 3;
    }
  }
}