.country-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 30px rgba(0,0,0,.15);
  background-color: #fff;

  &__tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 60px;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
