.YaMaps {
  display: flex;
  flex-direction: column;
  height: 100%;

  #map {
    display: flex;
    width: 100%;
    flex-basis: 100%;
    overflow: hidden;
    min-height: 250px;
    height: 100%;
    border: 1px solid rgba(10, 30, 50, 0.1);
  }
};