/*
 * Списки
 */

.card-list {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;

  @media screen and (max-width: 700px) {
    flex-direction: column;
    width: 100%;
  }

  &_top {
    margin-top: 40px;
    margin-bottom: 0;

    @media screen and (max-width: 700px) {
      margin-top: 30px;
    }
  }

  &_vertical {
    flex-direction: column;
  }

  &_wrap {
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    margin-right: 40px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 700px) {
      margin-right: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &_type-1 {
      padding: 40px;
      border-radius: 6px;
      background-color: #f5f7f9;

      @media screen and (max-width: 700px) {
        padding: 20px;
      }
    }

    &_type-2 {
      padding: 0 40px;

      @media screen and (max-width: 700px) {
        padding: 0 10px;
      }

      &:not(:last-child):before {
        content: '';
        height: 1px;
        position: absolute;
        top: 49px;
        left: calc(50% + 50px);
        width: calc(100% - 60px);
        background-color: rgba(10,30,50,.2);

        @media screen and (max-width: 700px) {
          content: none;
        }
      }
    }

    &_type-3 {
      padding: 0 40px;

      @media screen and (max-width: 700px) {
        padding: 0 10px;
      }

      &:not(:last-child):before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
        width: 1px;
        height: 75%;
        background-color: #EF3124;

        @media screen and (max-width: 700px) {
          content: none;
        }
      }
    }

    &_type-4 {
      padding: 0 20px;

      @media screen and (max-width: 700px) {
        align-items: center;
      }
    }

    &_1to2 {
      width: calc(50% - 20px);
      margin-bottom: 40px;

      @media screen and (max-width: 700px) {
        width: 100%;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    &_1to3 {
      width: calc(33.3333% - 20px);

      @media screen and (max-width: 700px) {
        width: 100%;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &_1to4 {
      width: calc(25% - 20px);

      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }

    &_1to5 {
      margin-right: 20px;
      width: calc(20% - 20px);

      @media screen and (max-width: 700px) {
        width: 100%;
      }

      &:last-child {
        margin-right: 0;
      }
    }

  }
}
