.cars {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__list {
    display: flex;
    flex-wrap: wrap;

    li {
      list-style: none;
      //height: 100px;
      cursor: pointer;
    }
  }

  &__card {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(10, 30, 50, 0.2);
    padding: 6px;
  }

  &__item {
    width: 33.3333%;
    padding: 6px;
    min-width: 175px;
    flex-grow: 1;

    input {
      display: none;

      &:checked {
        & + label {
          border: 1px solid rgba(10, 30, 50, 0);

          .cars__overlay {
            border: 3px solid #f03226;
          }
        }
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    color: #000c17;
    margin-bottom: 5px;

    span:first-child {
      font-weight: 500;
      font-size: 13px;
    }

    span:last-child {
      font-size: 12px;
    }
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.car {
  display: flex;

  &__icon {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 5px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    color: #000c17;
    margin-bottom: 5px;
    text-align: right;

    span:first-child {
      font-weight: 500;
      font-size: 13px;
    }

    span:last-child {
      font-size: 12px;
    }
  }
}