.excellence-block {
  background-color: #fff;
  margin-bottom: 40px;

  &__icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 90px;
    margin-bottom: 15px;

    @media screen and (max-width: 700px) {
      height: 45px;
      margin-bottom: 5px;
    }
  }

  &__iconDesctop {
    background-image: url('../assets/images/desktopo-icon.svg');
  }

  &__iconPercent {
    background-image: url('../assets/images/percent-icon.svg');
  }

  &__iconShield {
    background-image: url('../assets/images/shield-check-icon.svg');
  }
}
