.tust-block {
  margin-bottom: 40px;

  &__icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 70px;

    @media screen and (max-width: 700px) {
      width: 100px;
    }
  }

  &__iconAdidas {
    background-image: url('../assets/images/adidas.svg');
  }

  &__iconHandM {
    background-image: url('../assets/images/handm.svg');
  }

  &__iconNike {
    background-image: url('../assets/images/nike.svg');
  }

  &__iconPuma {
    background-image: url('../assets/images/puma.svg');
  }

  &__iconPullandBear {
    background-image: url('../assets/images/pullandbear.svg');
  }
}
