:root {
    --font: 'Montserrat', serif;

    /**
     * Облегченная толщина шрифта. Может быть использована для
     * снижения визуальной массы текста и только при больших
     * кеглях. Например, используется в заголовках.
     *
     * Не используйте на малых и стандартных кеглях: на неретина
     * дисплеях сильно снижается читаемость.
     */
    --font-weight-light: 300;

    /**
     * Стандартная толщина шрифта для всех компонентов.
     */
    --font-weight-normal: 400;

    /**
     * Толщина шрифта для сильного акцента. Например, используется в акцентных кнопках или
     * выделении активных пунктов меню.
     */
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /**
     * Самый маленький размер шрифта. Используется для самой второстепенной
     * информации, например, в подвале страницы.
     */
    --font-size-xs: 12px;

    /**
     * Маленький размер шрифта. Используйется для снижения акцента.
     */
    --font-size-s: 13px;

    /**
     * Стандартный размер шрифта.
     */
    --font-size-m: 16px;

    /**
     * Большой размер шрифта.
     */
    --font-size-l: 18px;

    /**
     * Экстра большой размер шрифта.
     */
    --font-size-xl: 22px;

    /**
     * Двойной экстра размер шрифта. Используется для особых акцентов,
     * например, в увеличенных отдельно стоящих ссылках.
     */
    --font-size-2xl: 30px;

    /**
     * Тройной экстра размер шрифта. Используется в крупных заголовках.
     */
    --font-size-3xl: 40px;

    /**
     * Четверной экстра размер шрифта. Используется в особо крупных заголовках.
     */
    --font-size-4xl: 48px;

    /**
     * Базовый интерлиньяж
     */
    --line-height-normal: 1.4;

    /**
     * Сокращённый интерлиньяж
     */
    --line-height-condensed: 1.2;
}