.dn {
    display: none;
}

$max: 50;
$offset: 5;
$unit: 'px';

@mixin list-loop($className, $styleName) {
    $i: 0;
    @while $i <= $max {
        #{$className + $i} {
            #{$styleName}: #{$i + $unit} !important;
        }
        $i: $i + $offset;
    }
}

// Margins
@include list-loop('.mt-', 'margin-top');
@include list-loop('.mr-', 'margin-right');
@include list-loop('.mb-', 'margin-bottom');
@include list-loop('.ml-', 'margin-left');
@include list-loop('.ml-', 'margin-left');
@include list-loop('.mx-', 'margin');

.mt-auto {
    margin-top: auto!important;
}
.ml-auto {
    margin-left: auto!important;
}

// Paddings
@include list-loop('.pt-', 'padding-top');
@include list-loop('.pr-', 'padding-right');
@include list-loop('.pb-', 'padding-bottom');
@include list-loop('.pl-', 'padding-left');
@include list-loop('.px-', 'padding');

.flex-jcsb {
    justify-content: space-between;
}

.flex-aic {
    align-items: center;
}

.flex-jcc {
    justify-content: center;
}

.w50 {
    width: 50px;
}