:root {
    /**
     * Цвет для использования в тенях.
     */
    --shadow-color: rgb(11, 31, 53);

    /**
     * Цвет для использования в облегчённых тенях.
     */
    --shadow-light-color: color(var(--shadow-color) a(.25));

    /**
     * Тень для компонентов. Использутеся, например, для plate.
     */
    --shadow: 0 6px 14px 0 color(var(--shadow-color) a(.15));

    /**
     * Облегченная тень, используемая, чтобы добавить 3-е измерение интерфейсу
     * и приподнять компонент над контентом. Используется, например, в попапах и нотификейшенах.
     */
    --shadow-light: 0 1px 5px 0 var(--shadow-light-color);

    /**
     * Тень для оверлея, Используется, например, в сайдбаре
     */
    --shadow-overlay-color: color(rgb(0, 0, 0) a(var(--opacity-minor)));
}