.TopHeaderBlock {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    z-index: 1;
  }

  &__subtitle {
    font-style: italic;
    font-weight: 200;
    line-height: normal;
    font-size: 35px;
    color: #fff;
    max-width: 850px;
    margin-bottom: 14px;

    @media screen and (max-width: 700px) {
      font-size: 20px;
      margin-bottom: 4px;
    }
  }

  &__header {
    max-width: 1360px;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 700px) {
      padding-top: 50px;
      padding-bottom: 50px;
      justify-content: flex-start;
    }
  }

  &__title {
    font-weight: 700;
    line-height: 80px;
    font-size: 80px;
    text-transform: uppercase;
    color: #fff;
    max-width: 1080px;

    @media screen and (max-width: 700px) {
      font-size: 28px;
      line-height: normal;
    }
  }

  &__summary {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px;
    color: rgb(255, 255, 255);
    max-width: 750px;
    margin-top: 28px;

    @media screen and (max-width: 700px) {
      font-size: 14px;
      margin-top: 12px;
    }
  }

  &__top-btn {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }

  &__button {
    padding: 0 40px;
    height: 60px;
    background: rgba(240, 50, 38, 0.85);
    border-radius: 6px;
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    cursor: pointer;

    @media screen and (max-width: 700px) {
      width: 100%;
      height: 40px;
      margin-top: 20px;
      font-size: 14px;
    }

    &:hover {
      background: rgba(240, 50, 38, 1);
    }
  }

  &__link {
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    background: none;
    text-decoration: none;
    transition: transform .3s, opacity .3s;

    &:hover {
      background: none;
      opacity: 0.75;
      transform: translateX(5px);
    }

    &:after {
      content: "";
      display: inline-block;
      width: 20px;
      height: 100%;
      background-image: url('../assets/images/arrowright.svg');
      background-repeat: no-repeat;
      background-size: 45%;
      background-position: center center;
      margin-left: 10px;

      @media screen and (max-width: 700px) {
        width: 17px;
      }
    }
  }
}
