.CalcModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  color: #ffffff;
  transition: background-color .3s;
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 100%;
  padding: 40px 0;
  align-items: flex-start;

  .container-row {
    @media screen and (max-width: 700px) {
      flex-direction: column-reverse;
    }

    @media screen and (max-width: 700px) {
      padding: 10px;
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
    max-width: 1024px;
    flex-direction: column;
    justify-content: center;
  }

  &_open {
    position: absolute;
    height: auto;
    background-color: rgba(10, 30, 50, .25);
    overflow: auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    background-color: #fff;
    max-width: 60%;

    @media screen and (max-width: 700px) {
      min-width: 100%;
      padding: 10px 0 30px;
      margin-top: 4px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    background-color: #fff;
    max-width: 40%;
    margin-left: 4px;

    @media screen and (max-width: 700px) {
      min-width: 100%;
      margin-left: 0;
      margin-top: 0;
      padding: 10px 0;
    }
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 45px;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../assets/images/close.svg');
    cursor: pointer;

    @media screen and (max-width: 700px) {
      right: 10px;
    }
  }
}
