<!doctype html>
<html lang="en-ru">
    <head>
        <%- head.meta %>
        <%- head.link %>
        <%- head.title %>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="theme-color" content="#000000" />
        <% if (process.env.NODE_ENV === 'production') { %>
            <link type='text/css' href='/build/css/main.2e4d3f7b.css' rel="stylesheet">
        <% } %>
        <script id="PRELOADED_STATE" type="text/javascript">window.__PRELOADED_STATE__ = <%- preloadedState %>;</script>
    </head>
    <body>
    <div id="root"><%- reactOutput %></div>
    <% if (process.env.NODE_ENV !== 'production') { %>
        <script type="text/javascript" src='/js/bundle.js'></script>
        <script type="text/javascript" src='/js/0.chunk.js'></script>
    <% } else { %>
        <script type="text/javascript" src="/build/js/main.d376ce15.js"></script>
        <script type="text/javascript" src="/build/js/1.2e89968f.chunk.js"></script>
    <% } %>

        <script src="https://api-maps.yandex.ru/2.1/?apikey=6ccab32a-bac9-4382-9aca-f8a338fa8e1e&amp;lang=ru_RU" type="text/javascript"></script>
    </body>
</html>