.total {
  &__results {
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .1);
    height: 100%;
    padding: 20px;
    text-align: right;

    &-item {
      margin-bottom: 5px;
      display: flex;

      label {
        color: rgba(10,30,50,.6);
        font-size: 14px;
        font-weight: 500;
        flex-grow: 1;
      }

      div {
        color: #243447;
        font-size: 14px;
        font-weight: 700;
        margin-left: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &_all {
        margin-top: auto;
        margin-bottom: 0;

        div {
          font-size: 42px;
          color: #ef3124;
        }
      }
    }
  }

  .field {
    border-bottom: 1px solid rgba(10, 30, 50, 0.1);
    margin-bottom: 0 !important;
    padding-bottom: 15px;

    &:last-child {
      border: 0;
    }

    &:first-child {
      border: 0;
    }
  }
}