.Header {
  &-root {
    position: relative;
    z-index: 300;
    display: flex;
    flex-flow: row wrap;
    max-width: 1360px;
    height: 93px;
    margin: 0 auto;
    user-select: none;
    padding: 0 40px;

    @media screen and (max-width: 700px) {
      height: 45px;
      padding: 0 10px;
    }
  }

  &-logo {
    width: 106px;
    height: 106px;
    background-color: #ef3124;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 700px) {
      width: 50px;
      height: 50px;

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  &-logoTCTS {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0;
    fill: #ffffff;
  }

  &-nav {
    display: flex;
    align-items: center;
    margin-left: 40px;
    flex-grow: 1;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &-item {
    color: rgba(255,255,255,.99);
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;
    transition: opacity .25s ease-in-out;

    &:hover {
      color: #ef3124;
    }

    &.active {
      color: #ef3124;
    }
  }

  &-itemMenu {
    margin-right: 40px;
  }

  &-buttons {
    display: flex;
    align-items: center;
    justify-self: flex-end;

    @media (max-width: 1024px) {
      margin-left: auto;
    }
  }

  &-itemPhone {
    font-weight: 500;
    font-size: 30px;
    text-align: right;

    @media screen and (max-width: 700px) {
      font-size: 18px;
    }
  }
}
