.select {
  min-width: 64px;
  color: rgba(10, 30, 50, 0.85);
}

.select__inner {
  position: relative;
  display: inline-table;
  vertical-align: top;
  width: 100%;

  .has-label {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    color: rgba(10, 30, 50, 0.9);
  }
}

.select-button {
  font-family: Montserrat;
  position: relative;
  border: 0;
  border-bottom: 1px solid rgba(10, 30, 50, 0.85);
  outline: 0;
  display: block;
  background-color: inherit;
  color: rgba(10, 30, 50, 0.85);
  text-align: left;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  height: 28px;
  width: 100%;
  z-index: 1;
  cursor: pointer;

  &__icon {
    position: absolute;
    right: 8px;
    top: 22px;
    border: 4px solid transparent;
    border-top: 4px solid white;
    transform: translateY(-50%);
    display: inline-block;
  }

  &_visible {
    .select-button__text::after {
      border: 4px solid transparent;
      border-bottom: 4px solid white;
      top: 17px;
    }
  }
}

.select-options {
  z-index: 3;
  //text-align: center;
  position: absolute;
  left: 0;
  top: 100%;
  transform: translate(0%, 0%);
  transition: heights 0.3s;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  visibility: hidden;
  opacity: 0;
  height: 0;
  border: 1px solid rgba(10, 30, 50, 0.85);
  border-top: 0;
  font-weight: 600;

  &__btn {
    font-family: Montserrat;
    background: none;
    text-align: left;
    border: 0;
    outline: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;

    &:hover {
      background-color: #eaeaea;
    }
  }

  &_visible {
    opacity: 1;
    visibility: visible;
    height: auto;
    overflow: hidden;
  }
}