.icon {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;

  &_size_m {
    width: 24px;
    height: 24px;

    &.icon_name_check {
      background-image: url('../assets/images/check.svg');
    }
  }
}
