.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-weight: 400;
  line-height: 1;

  &__text {
    color: rgba(10, 30, 50, 0.7);
  }

  &__control {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
  }

  &__box {
    display: inline-flex;
    position: relative;
    border-radius: 4px;

    flex: 0 0 auto;

    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(10, 30, 50, 0.3);
    transition: all 200ms ease;

    width: 20px;
    height: 20px;
  }

  &__icon {
    position: absolute;
  }

  &_size_m {
    font-size: 16px;

    .checkbox__box {
      width: 20px;
      height: 20px;
    }

    .checkbox__icon {
      top: -2px;
      left: -2px;
    }

    .checkbox__text {
      padding-left: 10px;
      font-size: 16px;
    }
  }

  &_size_l {
    font-size: 16px;

    .checkbox__box {
      width: 20px;
      height: 20px;
    }

    .checkbox__icon {
      top: -3px;
      left: -3px;
    }

    .checkbox__text {
      padding-left: 12px;
      font-size: 16px;
    }
  }

  &_disabled {
    cursor: default;
  }
}

.checkbox_position_bottom {
  margin-top: auto;
  margin-left: auto;
}

.checkbox_type_button {
  display: inline-block;
}