.TopBGBlock {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: -1;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(10,30,50,.75);
    width: 100%;
    height: 100%;
  }
}