.services-block {
  margin-bottom: 40px;

  &__button {
    width: 180px;
    height: 38px;
    background: rgba(240, 50, 38, 1);
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    cursor: pointer;
    text-decoration: none;
    user-select: none;

    &:hover {
      background: rgba(240, 50, 38, .75);
    }
  }
}
