/*
 * Ссылки
 */

.link {
  display: inline;
  color: rgba(10, 30, 50, 0.9);
  text-decoration: none;

  &:visited {
    color: rgba(10, 30, 50, 0.9);
    border-color: rgba(10, 30, 50, 0.3);
    text-decoration: none;
  }

  &:hover {
    color: #ef3124;
    border-bottom: 1px solid;
    border-color: rgba(239, 49, 36, .3);
    text-decoration: none;
    outline: 0;
  }

  &:active {
    outline: 0;
    text-decoration: none;
  }

  &_underline {
    border-bottom: 1px solid;
    border-color: rgba(10, 30, 50, 0.3);
  }

  &_color_ffffff {
    color: #fff;
  }
}