.form-result {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__total {
    font-size: 40px;
    color: rgba(240, 50, 38, 0.85);
    font-weight: 700;

    @media screen and (max-width: 700px) {
      font-size: 30px;
    }
  }
}