.content-block {
  padding: 80px 10%;
  background-color: #ffffff;

  @media screen and (max-width: 700px) {
    padding: 30px 20px;
  }

  &__inner {
    position: relative;
  }

  &__title {
    font-weight: 200;
    font-size: 44px;
    color: rgba(10, 30, 50, 0.7);

    @media screen and (max-width: 700px) {
      font-size: 22px;
    }

    &_center {
      text-align: center;
    }
  }

  &__text {
    margin-top: 30px;
  }

  &_red {
    background-color: #f03226;
  }
}