.info-block {
  margin-bottom: 40px;

  &__warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 10%;

    &-text {
      font-weight: 200;
      font-size: 44px;
      text-align: center;
      color: #FFFFFF;

      @media screen and (max-width: 700px) {
        font-size: 22px;
      }
    }

    &-phone {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 200;
      text-align: center;
      color: #FFFFFF;

      & > * {
        color: #ffffff;
        text-decoration: none;

        &:first-child {
          font-size: 60px;

          @media screen and (max-width: 700px) {
            font-size: 30px;
            font-weight: 400;
          }

          &:hover {
            opacity: .75;
          }
        }
      }
    }

    &-btn {
      text-align: center;

      .ili {
        color: #ffffff;
        margin-top: 20px;
        font-size: 20px;
        text-align: center;

        @media screen and (max-width: 700px) {
          font-size: 14px;
          font-weight: 400;
        }
      }

      button {
        font-family: Montserrat, sans-serif;
        width: 250px;
        height: 64px;
        background: rgba(255,255,255, 1);
        border-radius: 6px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 20px;
        text-align: center;
        color: rgba(10,30,50,.9);
        margin: 0 auto;
        margin-top: 30px;
        cursor: pointer;
        text-decoration: none;
        user-select: none;
        border: 0;
        outline: none;

        @media screen and (max-width: 700px) {
          width: 200px;
          height: 40px;
          margin-top: 20px;
          margin-bottom: 20px;
          font-size: 14px;
        }

        &:hover {
          background: rgba(255,255,255, .85);
        }
      }
      
      .text {
        color: #fff;
        margin-top: 15px;
        font-size: 20px;
        text-align: center;

        @media screen and (max-width: 700px) {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}
