.tooltip {
  position: absolute !important;
  top: 120% !important;
  left: 0 !important;
  height: 38px !important;
  display: flex !important;
  align-items: center !important;
  font-size: 14px !important;
  color: #ffffff !important;
  font-weight: 400 !important;
  padding: 10px 20px !important;
  background: rgba(248,96,101,1) !important;
  z-index: 999 !important;
  border-radius: 4px !important;
  line-height: 1 !important;

  &:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(248,96,101,1);
    position: absolute;
    top: -5px;
    left: 30px;
    transform: rotate(45deg);
    z-index: -1;
  }
}