/*
 * Карточки
 */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;

    &_type-1 {
      width: 100px;
      height: 100px;
      border: 1px solid rgba(10,30,50,.2);
      border-radius: 50%;
      margin-bottom: 20px;
    }

    svg {
      height: 60px;
    }
  }
}