.Popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(10,30,50,.95)
  }

  &__block {
    position: relative;
    max-width: 500px;
    width: 100%;
    background-color: #f5f7f9;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
  }

  &__input {
    margin-bottom: 20px;
    font-family: Montserrat;
    height: 46px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: 0;
    padding: 0 15px;
    width: 100%;
    font-size: 16px;
    background-color: inherit;
    color: rgba(10,30,50,.9);
    border: 1px solid rgba(10,30,50,.3);
    transition: all .15s ease-in-out;

    &:focus {
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(10,30,50,.9);
    }

    &_invalid {
      border-color: rgba(248,96,101,.85);

      &:focus {
        background-color: rgba(248,96,101,.08);
        border-color: rgba(248,96,101,.85);
        box-shadow: 0 0 0 1px rgba(248,96,101,.85);
      }
    }
  }

  &__button {
    outline: none;
    font-family: Montserrat,sans-serif;
    width: 100%;
    height: 46px;
    background: rgba(255, 5, 1, .75);
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    border: 0;
    transition: background .25s;

    &:hover {
      background: rgba(255, 5, 1, 1);
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../assets/images/close_black.svg');
    cursor: pointer;
  }
}
