@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-display: optional;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(10,30,50,.9);
}

li {
  list-style: none;
}

ol, ul, dl {
  margin: 0;
  padding: 0;
}

@import './elements/Button.scss';

.App-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
}

.App-header.fixed {
  position: fixed;
  background-color: rgba(10, 30, 50, .9);
  transform: translateY(-150%) translateZ(0);
}

.App-header.transform {
  transform: translateY(0) translateZ(0);
  transition: transform 0.3s;
}

.App-root {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  transition: filter .3s;
}

.App-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 93px;

  @media screen and (max-width: 700px) {
    padding-top: 45px;
  }

  .uslugi-page {
    padding-top: 0;
  }
}

.index-page {
  height: 100%;

  .TopHeaderBlock__header {
    padding: 0;

    @media screen and (max-width: 700px) {
      padding-top: 50px;
    }
  }
}

.Section-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1360px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;

  @media screen and (max-width: 700px) {
    padding: 0 10px;
  }
}

.in-blur {
  filter: blur(8px);
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// FIELDS
.fields {
  display: flex;
  flex-direction: column;

  &-66 {
    width: 66.6666%;
    flex-direction: column;
  }

  &-33 {
    width: 33.3333%;
    flex-direction: column;
  }

  &:last-child {
    flex-grow: 1;
  }
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;

  // карта
  ymaps {
    color: #000;

    .ymaps-2-1-72-search__suggest {
      left: 0;
      right: 0;
    }
  }

  &__title  {
    font-weight: 200;
    font-size: 30px;
    color: rgba(10, 30, 50, 0.7);

    @media screen and (max-width: 700px) {
      font-size: 20px;
    }
  }

  &--maps {
    max-width: 66.6666%;
  }

  & > .label {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 12px;

    color: rgba(10, 30, 50, 0.9);
    margin-bottom: 10px;
  }

  & > span {
    font-size: 40px;
    margin: 0;
    line-height: 0.8;
    font-weight: 700;
  }
}

.input {
  font-family: Montserrat;
  height: 38px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: 0;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  background-color: inherit;
  color: rgba(10, 30, 50, 0.9);
  border: 1px solid rgba(10, 30, 50, 0.3);
  transition: all .15s ease-in-out;

  &:focus {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(10, 30, 50, 0.9);
  }

  &_invalid {
    border-color: rgba(248,96,101,.85);

    &:focus {
      background-color: rgba(248,96,101,.08);
      border-color: rgba(248,96,101,.85);
      box-shadow: 0 0 0 1px rgba(248,96,101,.85);
    }
  }
}