/*
 * Абзацы
 */

.paragraph {
  color: rgba(10, 30, 50, 0.9);

  &_type-1 {
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 400;

    @media screen and (max-width: 700px) {
      font-size: 14px;
    }
  }

  &_type-2 {
    //margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    color: rgba(10,30,50,.9);
  }

  &_type-3 {
    text-align: center;
    font-size: 16px;
    color: rgba(10,30,50,.9);
    margin: 5px 0;
    font-weight: 600;
  }

  &_type-4 {
    text-align: center;
    font-size: 16px;
    color: rgba(10,30,50,.9);
    margin: 5px 0;
    line-height: 1.4;
    font-weight: 400;

    @media screen and (max-width: 700px) {
      font-size: 14px;
    }
  }
}