@import '../vars.scss';

.button { 
    justify-content: center;
    position: relative;
    margin: 0;
    cursor: pointer;
    outline: 0;
    user-select: none;
    font-family: var(--font);
    text-align: center;
    white-space: nowrap;
    transition-duration: 200ms;
    transition-property: background, border-color, color, width;
    transition-timing-function: ease;
    border-radius: var(--border-radius-control);
    background-color: var(--color-accent-translucent);
    // border: 0;
    // color: var(--color-accent);
    width: 100%;
    border-color: rgba(18, 59, 143, 0.2);
    color: rgba(11, 40, 101, 0.6);
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    transition: all 0.3s;
    min-height: 40px;
    border-radius: 20px;
    outline: none;
    padding: 0px 30px;
    font-size: 14px;
    font-weight: bold;

    &, *, *:before, *:after {
        box-sizing: border-box;
    }

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    &:hover {
        background-color: rgb(194, 206, 229);
        border-color: rgb(194, 206, 229);
        color: rgb(255, 255, 255);
    }
    
    &_size_l {
        // height: 50px;
        // padding: 0 25px;
        // font-size: var(--font-size-l);
        // line-height: 48px;
    }

    & + & {
        // margin-left: var(--gap-s);
    }

    &_width_available {
        width: 100%;
    }
}