.Footer {
  margin-top: 80px;

  &__content {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #ededed;
  }

  &__inner {
    display: flex;
    list-style: none;
    padding:  0 40px;
    max-width: 1360px;
    margin: 0 auto;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-basis: 33.3333%;
    justify-content: center;

    @media (max-width: 1024px) {
      flex-basis: 100%;
    }
  }

  &__itemTitle {
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    color: rgba(10, 30, 50, 0.9);
  }

  &__itemSubtitle {
    padding-top: 30px;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    color: rgba(10, 30, 50, 0.9);
    margin-top: auto;
  }
}
