.addresses {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__results {
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .1);
    height: 100%;
    padding: 20px;
    text-align: right;

    &-item {
      margin-bottom: 5px;
      display: flex;

      label {
        color: rgba(10,30,50,.6);
        font-size: 14px;
        font-weight: 500;
        width: 30%;
      }

      div {
        color: #243447;
        font-size: 14px;
        font-weight: 700;
        margin-left: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &_all {
        margin-top: auto;
        margin-bottom: 0;

        div {
          font-size: 42px;
          color: #ef3124;
        }
      }
    }
  }
}