.PriceBlock {
  background-color: #fff;

  &__content {
    //padding-top: 80px;
    //padding-bottom: 80px;
  }

  &__title {
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    color: rgba(10, 30, 50, 0.9);
    padding-bottom: 40px;
  }

  &__inner {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 40px;
    padding-bottom: 120px;

    &.bg-color-red {
      padding-bottom: 40px;
      background-color: #EF3124;
    }

    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }

  &__table {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-row {
      display: flex;
      padding: 10px 40px;
      background-color: #fff;

      &.bg-color--grey {
        background-color: #F5F7F9;
      }
    }

    &-col {
      width: 25%;
      display: flex;
      align-items: center;
    }

    &_header {
      font-weight: 600;
      font-size: 18px;
    }

    &_content {
      font-weight: 300;
      font-size: 36px;

      &.color-text-red {
        color: #EF3124;
      }

      &.text-small {
        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  &__ps {
    margin-top: 25px;
    max-width: 75%;
    font-weight: 500;
    font-size: 16px;
    color: rgba(11, 31, 53, 0.4);
  }

  &__advantages {
    max-width: 90%;
    margin-top: 55px;
    font-weight: 500;
    font-size: 35px;
    color: rgba(10, 30, 50, 0.9);
  }

  &__list {
    li {
      margin-top: 46px;
    }

    h5 {
      font-weight: 600;
      font-size: 24px;
      color: #EF3124;
    }

    p {
      margin-top: 10px;
      font-weight: 500;
      font-size: 18px;
      color: #0A1E32;
      max-width: 75%;
    }
  }
}
